page-bulletinmeteo {

}
.text-input{
	
	border: 1px solid;
	height: 100px;
	
}

div.publication{
	
	padding-botom: 20px;
	padding-top: 20px;
}

div.publication.label {
	padding-botom: 20px;

}

.notifier{
	
	
	padding-top: 10px;
	margin-right: 150px;
}

.label {
	
	font-size: 12px;
}



div.input-label {
	
	font-size: 14px;
	text-align: left;
	margin: 10px;
}

select {
	margin-top: 30px;
}

label.item-select{
	
	font-size: 14px;
}
.searchbar-input-container {
	margin-top: 20px;

}
.col{
	
	margin-top: 20px;
}

.arret {
	color: red;
}

.text-input{
	padding-left: 10px;
}

.row{
	
}
.cloud.icon.icon-md.ion-md-rainy{
	padding-right: 5px;
}
.cloud.icon.icon-md.ion-md-sunny{
	padding-right: 5px;
}
.cloud.icon.icon-md.ion-md-partly-sunny{
	padding-right: 5px;
}
span.button-inner{
	
	padding: 5px;
	font-size: 10px;

}

button.sendabon.button.button-md.button-default.button-default-md{
	
	width: 230px;
}

div.iconclass{
	
	margin: 0 auto;
}

div.publication{
	
	margin: 0 auto;
}

.button.button-positive.disable-hover.button-md.button-default.button-default-md.button-round.button-round-md{
	
	margin-right: 100px;
}
