page-abonament {

}
ion-title{
    margin: 10px;
	text-align: center;
	font-weight: bold;
}

.abon {
padding-right: 60px;
padding-bottom: 40px;
float: left;
font-size: 14px;
color: red;
padding-left: 60px;


}

p{
	text-align: left;
    font-weight: bold;
	font-size: 14px;
	margin-right: 50px;

}
.annuler.button.md {
    background-color: #D3D3D3;
    width: 50px;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 3rem;
    font-weight: 500;
    color: #424242;
}
.button-md {
    height: 3.6rem;
    font-size: 1.2rem;
    width: 100px;
    margin-right: 45px;
   }

.button-bar{
	

}
.button.button-positive.button-md{
	height: 3.6rem;
    font-size: 1.2rem;
    width: 100px;
    margin-right: 5px;
   
}
ion-icon.abon.icon.icon-md.ion-md-rainy{
    
    font-size: 200px;
}
